.header {
  padding-top: 10px;
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navs {
    display: flex;
    align-items: center;
    gap: 20px;
    .navlink {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.09px;
      text-decoration: none;
      color: #282828;
    }
  }
  .btns {
    display: flex;
    align-items: center;
    gap: 20px;
    .signin {
      font-size: 16px;
      font-weight: 400;
      line-height: 21.09px;
      color: #282828;
      background: none;
      border: none;
    }
    .join {
      font-size: 16px;
      font-weight: 400;
      line-height: 21.09px;
      color: #282828;
      background: none;
      border: none;
      border: 1.5px solid #282828;
      padding: 14px 20px;
      border-radius: 22px;
    }
  }
}
